<header class="header">
    <h1 class="header__title">E-commerce Product</h1>
  </header>

  <main class="product-list">

        <div class="product-list__item">
        <img src="https://i.pinimg.com/736x/ce/2e/92/ce2e92961cb55dfcafad939bc6e3d9d8.jpg" alt="Product 1" class="product-list__image">
        <h2 class="product-list__title">Samsung Galaxy Tab S9</h2>
        <p class="product-list__price">$799.00</p>
        <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
        </div>
        </div>

        <div class="product-list__item">
        <img src="https://i.pinimg.com/736x/55/c9/d1/55c9d1addd6a0497358983fa2934ccec.jpg" alt="Product 2" class="product-list__image">
        <h2 class="product-list__title">iPhone 15 Pro</h2>
        <p class="product-list__price">$999.00</p>
        <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
        </div>
        </div>

        <div class="product-list__item">
        <img src="https://i.pinimg.com/236x/f3/e9/46/f3e946bbc6a5c31901628365be0dc7af.jpg" alt="Product 3" class="product-list__image">
        <h2 class="product-list__title">Dell XPS 13 Laptop</h2>
        <p class="product-list__price">$1,099</p>
        <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
        </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/d6/3f/aa/d63faaeae16805678f4e82b672c31b74.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">Nike Air Force 1</h2>
            <p class="product-list__price">$120.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/5e/88/36/5e8836b88afc1c90973aa19e525eff0f.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">Adidas Ultraboost </h2>
            <p class="product-list__price">$130.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/da/6d/9e/da6d9e37d6c81e6cef94cedc38dc45c9.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">Michael Kors Parker Watch</h2>
            <p class="product-list__price">$270.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/c7/83/0a/c7830a441eaad0819968f00889cd1279.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">KitchenAid Stand Mixer</h2>
            <p class="product-list__price">$390.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/ec/9a/36/ec9a3662c5da99bce68f094ddac7f146.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">Sony PlayStation 5</h2>
            <p class="product-list__price">$390.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/67/b7/82/67b782fa9074d0e6202bf399f8eab305.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">Xbox Series X</h2>
            <p class="product-list__price">$490.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>

        <div class="product-list__item">
            <img src="https://i.pinimg.com/736x/17/11/9e/17119e3019ddfd00b4854a22e4857f9b.jpg" alt="Product 3" class="product-list__image">
            <h2 class="product-list__title">Instant Pot Duo Plus</h2>
            <p class="product-list__price">$140.00</p>
            <div class="product-list__actions">
            <button class="button button--primary">Add to Cart</button>
            <button class="button button--secondary">View Details</button>
            </div>
        </div>
   
    </main>

